/* ================================ *** 初始化样式 *** ================================ */
// ================================================================ pc
html:extend(.wh){}
body:extend(.wh){
	font:@font-size/@font-line-height @font-family;
	.c(@font-color);
	.mw(@min-width);
	.bc(@body-bgcolor);
}
